@page "/edit-student-page/{id:guid}"

@inject SimpleCrudFrontend.Services.BackendService MyBackendService
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<div class="create-student-button">
    <RadzenButton Style="background-color: blue;" BusyText="Updating..." Click=@SaveStudent Text="Update Student" />
</div>

<h3>Edit - Student Page</h3>

@if (EditStudent == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="EditStudent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <RadzenFieldset Text="Edit Student Info">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="First Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox style="width: 100%;" @bind-Value="EditStudent.FirstName" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Last Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox @bind-Value="EditStudent.LastName" style="width: 100%;" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
                <div class="col-md-6">
                    <RadzenFieldset Text="Student Security Number">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="SSN" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox @bind-Value="EditStudent.StudentSecurityNumber" style="width: 100%;" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Guid id { get; set; }

    public SimpleCrudFrontend.Models.Student EditStudent = new Models.Student();

    protected override async Task OnInitializedAsync()
    {
        EditStudent = await MyBackendService.GetStudentRecord(id);
        StateHasChanged();
    }

    public async Task SaveStudent()
    {
        await MyBackendService.SaveStudent(EditStudent);

        MyNavigationManager.NavigateTo("/get-student-page");
    }
}
